/*CSS Pagina Principal fuera de ser un usuario registrado*/
@font-face {
    font-family: 'Pirate';
    src: url('../fonts/PirateRegular.woff2') format('woff2'),
    url('../fonts/PirateRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    overflow: hidden;
}

.videoPrincipal, .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.contenido {
    margin-top: 100px;
    justify-content: center !important;
    position: relative;
    z-index: 2 !important;
}

.textoPrincipal {
    font-family: Pirate;
    color: #D5E7F2 !important;
    text-shadow: 1px 1px 8px #000000 !important;
}

.sombra {
    text-shadow: 1px 1px 8px #000000 !important;
}

input.campo {
    background-color: rgba(0, 0, 0, 0.534) !important;
    backdrop-filter: blur(10px) !important;
    color: #D5E7F2 !important;
    border: 2px solid rgba(0, 0, 0, 0.534) !important;
    transition: border-color 0.3s linear;
}

input::placeholder {
    color: #6b7479 !important;
}

.w-inputs {
    width: 290px;
    max-width: 290px;
}

button.w-inputs {
    width: 230px;
    max-width: 230px;
}

p.w-inputs {
    margin-top: 20px;
    text-align: center;
    color: #D5E7F2 !important;
    width: 330px;
    max-width: 330px;
}

input.campo:focus {
    background-color: rgba(0, 0, 0, 0.534) !important;
    backdrop-filter: blur(10px) !important;
    color: #D5E7F2 !important;
    border: 2px solid #D5E7F2 !important;
    transition: border-color 0.3s linear;
}

span.campo {
    background-color: rgba(0, 0, 0, 0.534) !important;
    backdrop-filter: blur(10px) !important;
    color: #D5E7F2 !important;
    border: none !important;
}


.btn-outline-personalizado{
    background-color: rgba(0, 0, 0, 0.534) !important;
    backdrop-filter: blur(10px) !important;
    color:#D5E7F2 !important;
    border: 1px solid #D5E7F2 !important;
}

.btn-outline-personalizado:hover{
    color:rgb(0, 0, 0)!important;
    background-color:#D5E7F2!important;
    border-color:#D5E7F2!important;
    transition: background-color 0.3s linear;
}

.btn-check:focus+.btn-outline-personalizado,.btn-outline-personalizado:focus{
    box-shadow:0 0 0 .25rem rgba(59, 59, 59, 0.5)!important;
}

/*MAIN CSS*/
.fondo {
    height: 10px;
    background-color: #66BCF2 !important;
}

.borde {
    border-bottom: 1px solid black;
}

.fondoBarra {
    background-color: var(--bs-gray-100);
}

.active {
    color: #66BCF2 !important;
    font-weight: bold !important;
}

.btn-fondoPer {
    color: #fff!important;
    background-color: #66BCF2!important;
    border-color: #66BCF2!important;
}

.btn-fondoPer:hover {
    color: #fff!important;
    background-color: #66BCF2!important;
    border-color: #66BCF2!important;
}

.form-control:focus {
    color: #66BCF2!important;
    background-color: #fff!important;
    border-color: #66BCF2!important;
    outline: 0!important;
    box-shadow: 0 0 0 0.25rem rgba(0, 22, 83, 0.25)!important;
}