:root {
    --colorPrincipal: #224e68;
}

.dialogSubcate {
    position: absolute !important;
}

.contenedorFoto {
    padding-right: 30px;
    border-right: 1px solid gray;
}

.contenedorInfo ul li {
    padding-top: 8px;
}

.contendorRespuesta {
    background-color: white;
    padding: 20px 10px;
    padding-bottom: 7px;
    box-shadow: 2px 2px 1px rgb(136 136 136 / 9%);
    margin-bottom: 20px;
}

.contenedorInfo ul li span {
    font-weight: bold !important;
    color: var(--colorPrincipal);
}

body .ui-button {
    background: var(--colorPrincipal);
    color: #ffffff;
    border: 1px solid var(--colorPrincipal);
    margin: 0;
    outline: 0 none;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

body .ui-button.ui-state-hover, body .ui-button.ui-state-active{
    background: #193a4d!important;
    border-color:#193a4d!important;
    color: #ffffff;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: none!important;
}

main div a {
    cursor: pointer !important;
    text-decoration: none !important;
    font-weight: 600 !important;
    color: var(--colorPrincipal) !important;;
}

main div a.enlaceSubcategoria h4, main div a.enlaceHilo h4{
    cursor: pointer !important;
    text-decoration: none !important;
    font-weight: 600 !important;
    color: var(--colorPrincipal) !important;;
}

.activeB {
    color: var(--colorPrincipal) !important;
    font-weight: bold !important;
}

/*MAIN CSS*/
.fondo {
    height: 10px;
    background-color: #D5E7F2 !important;
}

.borde {
    border-bottom: 1px solid black;
}
body {
    background-color: #F6F8FF !important;
}

.enlaceHilo {
    max-width: 200px;
    width: 200px;
    min-width: 200px;
}

.enlaceHilo h4 {
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tituloCategoria {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 0 !important;
    color: white !important;
    font-weight: normal !important;
    background-color: var(--colorPrincipal) !important;
    border-bottom-left-radius: 20px;
}

.fotoPerfil {
    border-radius: 100%;
}

.subcategoria {
    background: rgb(255, 255, 255);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.categoria .subcategoria:nth-child(odd) {
    background: rgba(73, 89, 96, 0.06);
}

.fondoBarra {
    background-color: var(--colorPrincipal);
}

.active {
    color: #D5E7F2 !important;
    font-weight: bold !important;
}

.btn-fondoPer {
    color: #D5E7F2!important;
    background-color: var(--colorPrincipal)!important;
    border-color: var(--colorPrincipal)!important;
}

.btn-fondoPer:hover {
    color: #D5E7F2!important;
    background-color: var(--colorPrincipal)!important;
    border-color: var(--colorPrincipal)!important;
}

.form-control:focus {
    color: #D5E7F2!important;
    background-color: black!important;
    border-color: #D5E7F2!important;
    outline: 0!important;
    box-shadow: 0 0 0 0.25rem rgba(0, 22, 83, 0.25)!important;
}

input.campo {
    background-color: rgba(0, 0, 0, 0.534) !important;
    backdrop-filter: blur(10px) !important;
    color: #D5E7F2 !important;
    border: 2px solid rgba(0, 0, 0, 0.534) !important;
    transition: border-color 0.3s linear;
}

input::placeholder {
    color: #6b7479 !important;
}

p.w-inputs {
    margin-top: 20px;
    text-align: center;
    color: #D5E7F2 !important;
    width: 330px;
    max-width: 330px;
}

input.campo:focus {
    background-color: rgba(0, 0, 0, 0.534) !important;
    backdrop-filter: blur(10px) !important;
    color: #D5E7F2 !important;
    border: 2px solid #D5E7F2 !important;
    transition: border-color 0.3s linear;
}

span.campo {
    background-color: rgba(0, 0, 0, 0.534) !important;
    backdrop-filter: blur(10px) !important;
    color: #D5E7F2 !important;
    border: none !important;
}


.btn-outline-personalizado{
    background-color: rgba(0, 0, 0, 0.534) !important;
    backdrop-filter: blur(10px) !important;
    color:#D5E7F2 !important;
    border: 1px solid #D5E7F2 !important;
}

div ul li a.nav-link {
    color: rgba(255,255,255,.65) !important;
}

div ul li a.nav-link:hover {
    color: rgba(255,255,255,.85) !important;
}

.btn-outline-personalizado:hover{
    color:rgb(0, 0, 0)!important;
    background-color:#D5E7F2!important;
    border-color:#D5E7F2!important;
    transition: background-color 0.3s linear;
}

.btn-check:focus+.btn-outline-personalizado,.btn-outline-personalizado:focus{
    box-shadow:0 0 0 .25rem rgba(59, 59, 59, 0.5)!important;
}