/*MAIN CSS*/
.fondo {
    height: 10px;
    background-color: #016341 !important;
}

.borde {
    border-bottom: 1px solid black;
}

.fondoBarra {
    background-color: var(--bs-gray-100);
}

.active {
    color: #016341 !important;
    font-weight: bold !important;
}

.btn-fondoPer {
    color: #fff!important;
    background-color: #016341!important;
    border-color: #016341!important;
}

.btn-fondoPer:hover {
    color: #fff!important;
    background-color: #005235!important;
    border-color: #005235!important;
}

.form-control:focus {
    color: #212529!important;
    background-color: #fff!important;
    border-color: #005235!important;
    outline: 0!important;
    box-shadow: 0 0 0 0.25rem rgba(0, 83, 28, 0.25)!important;
}